<!-- 添加设置等信息 -->
{{- $licence := ( .Site.Params.licence ) -}}
{{- $copyright := ( .Site.Params.copyright ) -}}
<script>
window.NANAN_SETTING = {
    baseURL: "{{ .Site.BaseURL }}",
    logo: "{{ .Site.Params.info.logo }}",
    title: "{{ .Site.Title }}",
    description: "{{ .Site.Params.info.description }}",
    cover: {{ .Site.Params.cover }},
    menus: {{ .Site.Menus.main }},
    quotes: {{ .Site.Params.quotes }},
    links: [],
    copyright: {{ $copyright }},
    licence: {{ $licence }},
    language: "{{ .Site.Language.Lang }}",
    comments: {
        enable: {{ .Site.Params.comments.enable }},
    }
}
</script>
{{- if .IsPage -}}
<script>
window.NANAN_PAGE = {
    title: "{{ .Title }}",
    summary: "{{ .Summary }}",
    url: "{{ .URL }}",
    permalink: "{{.Permalink }}",
    content: "{{ .Content }}",
    authors: [],
    keywords: {{ .Keywords }},
    tags: {{ .Params.tags }},
    categories: {{ .Params.categories }},
    wordcount: {{ .WordCount }},
    readingtime: "{{ .ReadingTime }}",
    publish: "{{ .PublishDate }}",
    lastmodify: "{{ .Lastmod }}",
    prev: "{{ .Prev }}"
    next: "{{ .Next }}"
}
</script>
{{- end -}}